*{
	box-sizing: border-box;
}
body{
	font-family: 'Lora', serif;
	margin:0;
	padding:0;
}
.sidebar {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 18%;
    color: white;
    display: block;
    background-color: #083634e6;
}
.sidebar img{
	height:200px;
	width:200px;
	padding: 5%;
}
.image-case{
    text-align:center;
}
.sidebar h2{
	padding: 5%;
}
.sidebar a{
	display: block;
	text-decoration: none;
	font-size: 20px;
	padding:10% 10% 10% 5%;
	color: white;
	padding-right: 0;
}
.sidebar a:hover{
	font-size: 25px;
}

.here{
	background-color: #55060645;
}

.navbar{
	display: none;
}
.appointmentcards{
	display: grid;
	padding-left: 25%;
	grid-template-columns:40% 40%;
	grid-column-gap:10%;
	padding-top: 4%
}
.card{
	padding: 1%;
	height:auto;
	width: 100%;
	display: grid;
	grid-template-columns:50% 50%;
	border: 2px solid grey;
    border-radius: 5px;
}
.blurpart{
	display: none;
}
.card img{
	border-radius: 50%;
	height:120px;
	width:120px;
}
.card p{
	padding-top: 2%;
	padding-left: 2%
}
.textf{
 padding-bottom:  3%;
 font-size: 20px;
}
.icon{
	padding-right: 5%;
}
.arrow{
	padding-top: 0%;
    padding-right: 0%;
    float: right;
    color: white;
}
.addpart {
    float: right;
    padding-right: 10%;
    cursor: pointer;
    font-size: 25px;
}
.dashboard-list{
    height:10%;
}
    .dashboard-list:hover ~ a {
        font-size: 25px;
    }
.createapp{
	top:0;
    position: absolute;
    z-index:1;
	width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    display:none;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.infocreate{
   margin-left: 40%;
   margin-top: 10%;
    width: 40%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   padding-top: 1%;
   padding-left: 3%;
    padding-right: 3%;
   background-color: white;

}
.close2 {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding-right: 1.5%;
}

.app{
	display: grid;
	grid-template-columns:50% 50%;
}


#addtime{
	float:right;
	padding-right: 2%
}
.cr1{
	text-align: center;
	margin-left: 40%;
	margin-bottom: 2%;
}

input{
	width:90%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
	color:black;
}
input:focus, select:focus{
	border-bottom:2px solid #78788c;
	}
p:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:black; 
}

@media screen and (max-width: 600px) {
.blurpart , .sidebar{
	display: none;
}

.blurpart{
	top:0;
    position: absolute;
    z-index:1;
	width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    display:none;  background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.phonebar{
	width:63%;
	padding-top: 5%;
	background-color: #1590f1e6;
}
.phonebar a{
	display: block;
	text-decoration: none;
	font-size: 18px;
	padding:10% 10% 10% 5%;
	color: white;
}
.phonebar img{
	height:100px;
	width:80px;
	padding-left: 3%;
}
.appointmentcards{
	padding-left: 5%;
	display: grid;
	grid-template-rows:90%;
	grid-row-gap:10%;
	grid-template-columns:95%;
	
}
.phonebar h2{
	font-size: 20px;
	padding: 5%;
}
.navbar{

   background-color: #1590f1e6;
	display: block;
	height:13%;
}

.welcometxt{
   float:right;
  padding-right: 1%;

  padding-bottom: 3%;
}
.bar{
	margin-top: 4%;
	padding-left: 5%;
}
.close, .close2 {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding-right: 3%;
}
.card{
	margin-bottom: 2%;
	padding-top: 3%;
	height:auto;
	width: 100%;
	border: 2px solid grey;
    border-radius: 5px;
}
}