

  
  .group            { 
    position:relative; 
    margin-bottom:10%; 
  }
  .float-input               {
    box-sizing: border-box;
    font-size:15px;
    padding:10px 10px 10px 5px;
    display:block;
    width:90%;
    margin-left:5%;
    border:none;
    border-bottom:1px solid #757575;
    background-color:rgb(255, 245, 245);
  }
  .float-input:focus         { outline:none; border-color:#5264AE;}
  .placejumper                {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:6%;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  .float-input:focus ~ .placejumper, .float-input:not([value=""]) ~ .placejumper      {
    top:-10px;
    font-size:14px;
    color:#5264AE;
  }
  /* BOTTOM BARS ================================= */
  .bar    { position:relative; display:block; width:90%;margin-left:5%; }
  .bar:before, .bar:after     {
    content:'';
    height:2px; 
    width:0;
     
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  .float-input:focus ~ .bar:before, .float-input:focus ~ .bar:after {
    width:50%;
  }
  .texts{
    padding-top:10%;
      max-height: 70vh;
      padding-bottom: 5%;
      overflow: scroll;
    overflow-x: hidden;
     /* overflow-y:scroll;*/
  }
  
  
  
  
  
  
  
  
  