html, body{
    background-color: white;
}

* {
    box-sizing: border-box;
}
.sidebar{
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 18%;
    padding: 0;
    top: 0;
    left: 0;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.671);
    color: white;
    background-color: #000000c2;
}

.sidebar img{
    margin-top: 5%;
    margin-left: 8%;
    float: left;
    width: 85%;
    padding-right: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 25%;
}
.sidebar a {
    display: block;
    text-decoration: none;
    margin-left: 10%;
    font-size: 90%;
    padding: 8% 8% 12% 10%;
    color: white;
    padding-right: 5%;
}

.here {
    background-color: #03A9F4;
    margin-right: 10%;
    border-radius: 5px;
    padding-top: 2%;
    height: 5%;
}

.myCard{
    text-align: center;
    color: black;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 10%;
    padding-top: 10%;
}

.card {
    padding: 1%;
    height: auto;
    width: 100%;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.671);
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
}

.accept{
    margin-left: 65%;
    border: none;
    background-color: rgb(86, 87, 88);
    color: white;
    width: 55%;
    height: 30px;
    border-radius: 9px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.671);
    cursor: pointer;
}

.accept:hover{
    transform: translateY(-4px);
}

.fa{
    position: relative;
}

.badge{
    font-size: 80%;
    display: block;
    position: absolute;
    top: -1.5em;
    right: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.myContent{
    padding-top: 10%;
}

.myContent .close{
    margin-top: -7%;
}

.myContent h4{
    font-style: italic;
}

.myTable{
    width: 80%;
    align-content: center;
}
.myTable td{
    padding: 2%;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 2px 1px 1px 0px rgba(78, 78, 78, 0.671);
}

.myTable tr:hover{
    transform: translateX(-4px);
}

.myTable .color1{
    background-color: gray;
}

.myTable .color2{
    background-color: rgb(202, 202, 202);
}

.myTable .color3{
    background-color: gray;
}

.myTable .color4{
    background-color: rgb(202, 202, 202);
}

.myTable .color5{
    background-color: gray;
}

.dropdown{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%; 
}

.select-selected{
    background-color: gray;
}

.select-selected::after{
    position: absolute;
    content: "";
    top: 7%;
    right: 4%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
}

.select-selected.select-arrow-active:after{
    border-color: transparent transparent white transparent;
    top: 3%;
}

.select-items div,.select-selected{
    color: #ffffff;
    padding: 4% 8%;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0,0,0,0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items{
    position: absolute;
    background-color: gray;
    top:100%;
    left:0;
    right:0;
    z-index:99;
}


.select-items div:hover, .same-as-selected{
    background-color: rgba(0,0,0,0.1);
}

