html, body{
    background-color: white;
}

* {
    box-sizing: border-box;
}
.sidebar{
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 18%;
    padding: 0;
    top: 0;
    left: 0;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.671);
    color: white;
    background-color: #000000c2;
}

.sidebar img{
    float: left;
    width: 55%;
    padding-right: 10%;
    border-radius: 50%;
}
.sidebar a {
    display: block;
    text-decoration: none;
    margin-left: 10%;
    font-size: 80%;
    padding: 8% 8% 12% 10%;
    color: white;
    padding-right: 5%;
}

.here {
    background-color: #03A9F4;
    margin-right: 10%;
    border-radius: 5px;
    padding-top: 2%;
    height: 5%;
}

.myCard{
    text-align: center;
    color: black;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 10%;
    padding-top: 2%;
}

.card {
    padding: 1%;
    height: auto;
    width: 100%;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.671);
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(110, 203, 247);
}

.accept{
    margin-left: 65%;
    border: none;
    background-color: rgb(86, 87, 88);
    color: white;
    width: 55%;
    height: 30px;
    border-radius: 9px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.671);
    cursor: pointer;
}

.accept:hover{
    transform: translateY(-4px);
}
